body{
height: 100vh;
background-color: blue;
text-align: center;
display: grid;
grid-template-rows: 1fr 8fr 3fr;
}
    
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aliceblue;
    border: solid 1px green ;
    border: 5px;
}

header> div{
    background-color: pink;
}
nav{
    background: yellow;
}
main{
    background: #a5def7;
}

footer{
    background-color: grey;
}

@media only screen and ( min-width: 420px){
    body{
        grid-template-areas: 'header main'
                              'header main'
                              'footer footer';
    grid-template-columns: 2fr 10fr;
    }
    header{
        grid-area: header;
        grid-template-columns: 1fr;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
}